{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/cart-index.css' %}" />
{% endblock %} 
{% block content %}
<div class="container px-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Shopping Bag</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">

                <div class="col-4">
                    <h6 class="mt-2">Price</h6>
                </div>
            </div>
        </div>
    </div>
    {% for objct in books %}
    
    <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <br/>
            <div class="row d-flex">
                <div class="book">
                    <img src={{objct.book.image}} class="{{objct.book.title}} image">
                </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text">{{objct.book.title}}</h6>
                    <p class="mob-text">{{objct.book.aouth}}</p>
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mob-text">$9.99</h6>
                </div>
                <div class="col-4">
                 <a href="{% url 'remove_from_cart' objct.book.id %}" class="btn btn-danger">Remove from Cart</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'checkout'%}" class="btn btn-primary" >Checkout</a>
</div>

{% endblock %}
