{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-index.css' %}" />
{% endblock %}

{% block content %}

<div class="container py-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for book in books %}
    <div class="col">
      <a href="{% url 'book-detail' book.id %}">
        <div class="card h-100">
          <div class="image-container">
            <img src="{{ book.image }}" class="card-img-top {% if not book.is_available %} borrowed {% endif %}" alt="Book image">
            {% if not book.is_available %}
              <div class="overlay">
                <p class="borrowed-text">Borrowed</p>
              </div>
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.author }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}