body{
    background-color: rgb(255, 255, 255) !important;
}


a.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  a.card-link:hover {
    text-decoration: none;
    color: inherit;
  }